<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logconsole" xsi:type="Console" layout="${pad:padding=60:inner=${callsite}}#${pad:padding=-5:inner=${callsite-linenumber}} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}" />
    </targets>

    <rules>
        <logger name="SytyRouting.Graph" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>